h1{color:gray;
background-color:white;
text-align:center;} 
ul{text-align:center;width:100%;}
li{margin-right:90px;color:green;
}
h2{color:black;text-align:center;}
div{color:black;
background-color:#f79cee;padding:10px;margin:10px;}
span{font-weight:bold;}